// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  background-color: #ccc;

}
.wrapper {
  text-align: center;
}

.container {
  margin: 0 auto;
  height: 812px;
  width: 375px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 10px;
  border: 1px solid #999;

  nav {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background-color: #222;
    height: 64px;
    padding: 0;
    margin: 0;
    position: relative;

    span {
      float:left;
    }

    .logo {
      position: absolute;
      top: 23px;
      left: 163px;
      width: 48px;
      height: 24px;
      width: 48px;
      height: 24px;
    }

  }

  main {
    width: 375px;
    overflow: hidden;
    background-color: #222;
    position: relative;
  }

  .responses {
    display: flex;
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin-left: -10px;
    justify-content: space-evenly;

    div {
      text-align: center;
      font-size: 50px;
      width: 50px;
      height: 50px;
      border-radius: 25px;

      a {
        color: #eee;
        text-decoration: none;
        &:hover {
          background: transparent;
        }
      }
      &.yes {
        // line-height: .8;
        // background-color: green;
        top: 392px;
        left: 223px;
        width: 80px;
        height: 80px;
        background-color: #3EE7C8;
        // background: transparent url('assets/images/like.svg') 0% 0% no-repeat padding-box;
        opacity: 1;
        clip-path: circle(40px at center);
      }
      &.no {
        // line-height: .5;
        // background-color: red;
        top: 592px;
        left: 72px;
        width: 80px;
        height: 80px;
        background-color: #FF3366;
        // background: transparent url('assetsimages/dislike.svg') 0% 0% no-repeat padding-box;
        opacity: 1;
        clip-path: circle(40px at center);
      }
    }
  }
}
