// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  background-color: #ccc;

}
.wrapper {
  text-align: center;
}

.container {
  margin: 0 auto;
  height: 812px;
  width: 375px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 10px;
  border: 1px solid #999;
  background-color: #fff;
  z-index: 0;

  nav {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background-color: #222;
    height: 64px;
    padding: 0;
    margin: 0;
    position: relative;

    span {
      float:left;
    }

    .logo {
      position: absolute;
      top: 23px;
      left: 163px;
      width: 48px;
      height: 24px;
      width: 48px;
      height: 24px;
    }

  }

  main {
    width: 375px;
    overflow: hidden;
    background-color: #222;
    position: fixed;
  }
  .text {
    margin-top:380px;
    overflow: scroll;
  }

  .responses {
    display: flex;
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin-left: -10px;
    justify-content: space-evenly;

    div {
      text-align: center;
      font-size: 50px;
      width: 50px;
      height: 50px;
      border-radius: 25px;

      a {
        color: #eee;
        text-decoration: none;
        &:hover {
          background: transparent;
        }
      }
      &.yes {
        // line-height: .8;
        // background-color: green;
        top: 392px;
        left: 223px;
        width: 80px;
        height: 80px;
        background-color: #3EE7C8;
        // background: transparent url('assets/images/like.svg') 0% 0% no-repeat padding-box;
        opacity: 1;
        clip-path: circle(40px at center);
      }
      &.no {
        // line-height: .5;
        // background-color: red;
        top: 592px;
        left: 72px;
        width: 80px;
        height: 80px;
        background-color: #FF3366;
        // background: transparent url('assetsimages/dislike.svg') 0% 0% no-repeat padding-box;
        opacity: 1;
        clip-path: circle(40px at center);
      }
    }
  }
  //the match screen
  section {
    h2 {
      font-size: 42px;
      font-weight: bold;
      margin:0;
      padding:0;
      margin-top: 60px;
      text-align: center;
    }
    .redcircle {
      position: absolute;
      top: 195px;
      left: 93px;
      width: 236px;
      height: 236px;
      background: #FF3366 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 10px #FF336680;
      border-radius: 168px;
      z-index: 1
    }

    .greencircle {
      position: absolute;
      top: 288px;
      left: 47px;
      width: 185px;
      height: 185px;
      background: #3EE7C8 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 10px #3EE7C880;
      opacity: 1;
      z-index: 2;
      border-radius: 94px;
      img {
        display: block;
        position: absolute;
        top: 32px;
        left: 32px;
      }
    }

    .me {
      position: absolute;
      top: 195px;
      left: 47px;
      width: 120px;
      height: 120px;
      z-index: 3;
      border: 1px solid #3C3F45;
      border-radius: 20px;
    }

    .them {
      position: absolute;
      top: 353px;
      left: 209px;
      width: 120px;
      height: 120px;
      border: 1px solid #3C3F45;
      border-radius: 20px;
      overflow: hidden;
      z-index: 3;
    }

    .purplecircle {
      position: absolute;
      top: 334px;
      left: -120px;
      width: 615px;
      height: 615px;
      background: #5F68AB 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 6px #5F68AB80;
      border-radius: 307px;
    }

    .message {
      text-align: center;
      position: absolute;
      top: 533px;
      left: 64px;
      width: 247px;
      height: 88px;
      text-align: center;
      font-size: 16px;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 1;
    }

    .button {
      text-align: center;
      position: absolute;
      &.primary {
        background: #3EE7C8 0% 0% no-repeat padding-box;
        color: #5F68AB;
        top: 651px;
        border: 0;
        width: 240px;
      }
      background-color: #5F68AB;
      border: 5px solid #eee;
      color: #eee;
      top: 730px;
      left: 73px;
      width: 230px;
      border-radius: 32px;
      opacity: 1;
      font-weight: bold;
      font-size: 16px;
      text-decoration: none;
      padding: 14px 0;
    }
  }
}
